body {
  padding: 50px;
}

.details {
  display: none;
}

.pizza-image {
  width: 200px;
  background: url("../images/pizza2.jpg") no-repeat;
  background-position: center;
  height: 125px;
}

.pizza-xs {
  background-size: 20%;
}

.pizza-sm {
  background-size: 40%;
}

.pizza-md {
  background-size: 60%;
}

.pizza-lg {
  background-size: 80%;
}

.pizza-xl {
  background-size: 100%;
}

.clickable:hover {
  cursor:pointer;
  opacity: 0.5;
}

.pizza {
  width: 500px;
  height:200px;
}

.remove {
  position:absolute;
  left: -20px;
}

button:focus {
  outline: 0 !important;
}

#added-pizzas {
  display: none;
}

#pizza-count {
  position:absolute;
  top: -23px;
  left: 4px;
}
