body {
  padding: 50px;
}

#pizza-builder {
  padding-left: 50px;
}

.sizes, .toppings, .meats, .non-meats, #pizza-price, .details {
  display: none;
}

.pizza-image {
  width: 200px;
  background: url("../images/pizza.jpg") no-repeat;
  background-position: center;
  height: 125px;
}

.pizza-xs {
  background-size: 20%;
}

.pizza-sm {
  background-size: 40%;
}

.pizza-md {
  background-size: 60%;
}

.pizza-lg {
  background-size: 80%;
}

.pizza-xl {
  background-size: 100%;
}

.underline:hover {
  text-decoration: underline;
  color: #0088cc;
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.5;
}

.pizza {
  width: 500px;
  height:200px;
}

.remove {
  position:absolute;
  left: -20px;
}

button:focus {
  outline: 0 !important;
}

#added-pizzas {
  display: none;
}

#pizza-count {
  position:absolute;
  top: -23px;
  left: 5px;
}

#modal-checkout {
  z-index: 10;
  display: inline-block;
  position: relative;
  width:600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
